 body {
      background-color: #eef4ff;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }

    header {
      text-align: center;
      margin-bottom: 20px;
    }

    form {
      background-color: #ffffff;
      padding: 25px;
      border: 2px solid #4a90e2;
      border-radius: 15px;
      max-width: 500px;
      margin: auto;
    }

    fieldset {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px; /*adds space for field*/
    }

    legend {
      font-weight: bold;
      color: #4a90e2;
    }

    label {
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 5px;
      font-weight: bold;
    }
    
    input[type="password"],
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-sizing: border-box;
    }

    input[type="checkbox"] {
      margin-right: 5px;
    }

    button {
      background-color: #4a90e2;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      margin-right: 10px;
    }

    button:hover {
      background-color: #357abd;
    }

    a {
      text-decoration: none;
      color: #4a90e2;
    }

    a:hover {
      text-decoration: underline;
    }